<nav class="bg-primary text-neutral">
    <div class="flex justify-center md:justify-between md:mx-40 lg:mx-80 xl:mx-96">
        <div class="hidden md:flex flex-col justify-center">
            <img width="32" height="32" src="/favicon-32x32.png">
        </div>
        <div class="flex flex-col md:flex-row tracking-wide">
            {{- range site.Menus.main }}
                <div class="px-5 text-center block pt-5 pb-5 hover:scale-110 transition-transform">
                    <a class="text-lg underline underline-offset-2" href="{{ .PageRef }}">{{ .Name }}</a>
                </div>
            {{- end }}
        </div>
    </div>
</nav>

