{{ define "main" }}
<div class="flex justify-center">
<pre class="bg-white font-normal text-sm md:text-lg my-20">
<code class="font-ubuntu tracking-wide text-xl">
<span style="color: #27374D;">int</span> <span style="color: darkgoldenrod;">main</span>(){
        <span style="color: #526D82;">Software</span> sftw <span style="color: #526D82;">=</span> Software();
        sftw.howToBuild <span style="color: #526D82;">=</span> <span style="color: #27374D;">"With passion"</span>;
        std::cout <span style="color: #526D82;"><<</span> sftw.howToBuild;
}
</code>
</pre>
</div>

<div class="bg-secondary pt-8 pb-8 text-neutral">
    <div class="grid grid-cols-6">
        <div class="col-span-6 lg:col-span-2 text-center">
            <div class="hidden md:block">
                <script async type="module"
                    src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
                <model-viewer class="w-3/4 mx-auto h-screen" camera-controls touch-action="pan-y"
                    alt="A 3D model of a old computer" src="/pc.glb">
                </model-viewer>
            </div>
        </div>
        <div class="col-span-6 lg:col-span-4 flex flex-col justify-center ">
            <p class="mb-5 p-5 text-2xl lg:text-4xl font-ubuntu"><span class="text-primary">struct</span>
                Developer me;
            </p>
            <div class="mb-5 p-5 text-lg">{{.Content}}</div>
        </div>
    </div>
</div>

<div class="h-[500px] flex justify-center flex-col">
    <p class="mx-auto animate-bounce">
        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" fill="#27374D" class="bi bi-caret-down"
            viewBox="0 0 16 16">
            <path
                d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
        </svg>
    </p>
</div>
<div class="bg-agressive py-20">
    <div class="px-20 mx-auto">
        <p class="text-4xl text-center font-ubuntu text-primary"><span class="text-neutral">struct</span>
            VideoCV cv;</p>
        <p class="my-10 text-center text-primary">
            <u>
                If you are sensitive to flashing lights, I recommend
                skipping to the 50-second mark.
            </u>
        </p>
        <video-link imgUrl="/{{.Params.Videocvthumb}}" videoUrl="{{.Params.Videocvlink}}"></video-link>
    </div>
</div>
{{ end }}
