{{ define "main" }}

<div class="bg-secondary pt-8 pb-8 text-neutral">
    <div class="grid grid-cols-6">
        <div class="col-span-6 lg:col-span-2 text-center">
            <div class="hidden md:block">

                <model-viewer class="w-3/4 mx-auto h-screen" camera-controls touch-action="pan-y"
                    alt="A 3D model of a old computer" src="/pc.glb">
                </model-viewer>
                <script async type="module"
                src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
            </div>
        </div>
        <div class="col-span-6 lg:col-span-4 flex flex-col justify-center ">
            <p class="mb-5 p-5 text-2xl lg:text-4xl font-ubuntu"><span class="text-primary">struct</span>
                Developer me;
            </p>
            <div class="mb-5 p-5 text-lg">{{.Content}}</div>
        </div>
    </div>
</div>
{{ end }}