{{ define "main" }}
    <p class="text-2xl lg:text-4xl mt-20 mb-20 pl-4 text-primary font-ubuntu"><span class="text-secondary">struct</span> Portfolio myPortfolio = {</p>
    <div class="flex justify-evenly p-4 gap-1 flex-col lg:flex-row bg-agressive flex-wrap">
        {{ range (.Pages.ByParam "date").Reverse}}
                {{/* Link comes from RelPermalink */}}
                <div 
                    class="flex flex-col w-3/3 lg:w-96 shadow-sm shadow-primary p-10 m-5 cursor-pointer border mx-2 rounded-br-xl rounded-tl-xl border-primary border-opacity-30 hover:scale-105 transition-transform" 
                    onclick="loadPage('{{.Page.RelPermalink}}')" 
                >
                    <div class="mb-3">
                        {{/* Build thumbnail image url */}}
                        {{ $imagepath := resources.Get .Params.Thumbnail }}
                        <img class="mx-auto max-h-52 object-scale-down" src="{{ $imagepath.RelPermalink }}" alt="{{.Params.Name}} thumbnail" width="350" height="350"/>
                    </div>
                    <div>
                        {{/* Card Header */}}
                        <p class="text-2xl text-primary">{{.Params.Title}}</p>
                        <div class="my-2">
                            {{/* Loop tech "pills" */}}
                            {{ range .Params.tech }}
                                <span class="px-2 py-1 my-1 text-sm border border-primary rounded-md inline-block text-primary">{{.}}</span>
                            {{end}}
                        </div>
                        {{/* Render excerpt  */}}
                        <p class="my-5 text-primary">{{.Params.Excerpt}}</p>
                    </div>
            </div>
        {{end}}
    </div>
    <script>
        function loadPage(itemAddress){
            window.location = itemAddress
        }
    </script>
    <p class="text-2xl lg:text-4xl pb-2 pl-4 pt-20 bg-neutral text-primary font-ubuntu" >};</p>
{{end}}
