:root{
    --main-color: #1B2430;
    --secondary-color: #51557E;
    --complimentary-color-one:#816797;
    --base-link-color: #f8f8f8;
    --base-text-color: #f8f8f8;
    --active-theme-highlight: #D6D5A8;
}

@font-face {
    font-family: "Major Mono Display";
    src: local("Major Mono Display"), url("./fonts/MajorMonoDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "'Raleway', sans-serif";
    src: local("Raleway"), url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

*{
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Major Mono Display";
    color: var(--base-text-color);
}

p, span, a{
    color: var(--base-text-color);
}

h1 div{
    font-size: 1rem;
}

@media only screen and (min-width: 296px){
    h1 div{
        font-size: 1.35rem;
    }
}

@media only screen and (min-width: 688px){
    h1 div{
        font-size: 2rem;
    }
}

a, button{
    font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 600px){
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
}

ul{
    list-style: none;
    padding-left: 0;
}



.container{
    width: 90%;
    padding: 20px 20px 20px 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1000px){
    .container{
        width: 75%;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 60%;
    }
}

.d-none{
    display: none;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
    position: fixed;
    padding: 2em;
    height: 100%;
    right: 0;
    border: 2px solid #51557E;
    box-shadow: -1px -1px 5px 2px var(--secondary-color);
    border-radius: 20px 0px 0px 0px;
    opacity: 0;
    display: none;
    width: 90%;
    z-index: 21;
}

@media only screen and (min-width: 900px){
    .nav-menu{
        width: 40%;
    }
}


@media only screen and (min-width: 1200px){
    .nav-menu{
        width: 35%;
    }
}

.nav-contact-listing li{
    margin-top: 10px;
}

.nav-header{
    color: var(--active-theme-highlight);
}

.nav-btn{
    background-color: rgba(1,1,1,0);
    border: none;
    font-size: large;
    display: block;
    margin-top: 15px;
    color: var(--base-link-color);
    text-decoration: underline;
    
}

.nav-btn:hover{
    cursor: pointer;
}

.backdrop:hover{
    cursor: pointer;
}

.menu-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 22;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: none;
}

.back-to-top-button{
    bottom: 90px;
    z-index: 19;
}

.back-to-top-trigger{
    position: fixed;
    width: 100%;
    height: 10px;
}

.menu-button:hover{
    cursor: pointer;
}

.headline-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}


.special-color-header{
    color: var(--active-theme-highlight);
}

.headline-special div{
    margin-top: 30px;
    margin-bottom: 30px;
}

.headline-special :last-child{
    margin-top: 60px;
    text-align: center;
}

.flex-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.flex-image{
    flex-basis: 350px;
}

.flex-image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.content hr{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.copyright-text{
    text-align: center;
    font-size: small;
    margin-top: 30px;
    margin-bottom: 30px;
}

.videoFrame{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 4rem;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.videoFrame * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.portfolio-item-hr{
    width: 40%;
}

.image-container img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

@media only screen and (min-width: 900px){
    .image-container img{
        width: 80%;
        height: auto;
        margin-top: 20px;

    }

    .image-container img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.tech-pill{
    border: 1px solid var(--active-theme-highlight);
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    color: var(--active-theme-highlight);
    font-size: smaller;
}

.icon{
    margin-right: 10px;
}

.video-cookie-banner{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video-cookie-banner ul{
    color: var(--base-text-color);
    list-style: circle;
    padding-left: 40px;
    font-size: .75rem;
}

.video-cookie-banner button{
    display: block;
    height: 60px;
    width: 100px;
    background-color: rgba(16, 211, 42, .5);
    border-radius: 10px;
    border: 3px solid green;
    color: black;
    margin-top: 10px;
}

.video-cookie-banner button:hover{
    cursor: pointer;
}

